
terraform {
  required_providers {
    solacebroker = {
      source = "registry.terraform.io/solaceproducts/solacebroker"
    }
  }
}

provider solacebroker {
  username       = var.username
  password       = var.password
  url            = "{{.BrokerURL}}"
}

{{range  .BrokerResources}}

{{range $k, $v := . -}}
resource {{$k}} {
{{$v}}
}
{{end -}}

{{end}}